:root{
    --main-color:   #8db9fa;
    --chart-background:  #e3e3fc;
    --table-border-color:   #c3d7f5;
    --table-title: rgb(97, 93, 93);
    --thead-background:  #d6d6da;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.page-performance-line-chart{
    width: 100%;
    background-color: var(--chart-background);
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--table-border-color);
}
.page-performance-title{
    width: 100%;
    height: 35px;
    background-color: var(--main-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.page-performance-title h3{
    font-size: 25px;
    color: var(--table-title);
    float: right;
    font-weight: 800;
    margin-right: 10px;
    font-family: 'Convergence', sans-serif;
}
.page-performance-data{
    padding: 5px;
}
.real-time-visitor-pie-chart{
    position: relative;
    background-color: var(--chart-background);
    border-radius: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.real-time-text{
    width: 100%;
    height: 25px;
    background-color: var(--main-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.real-time-text h3{
    font-size: 20px;
    color: var(--background-color);
    float: right;
    font-weight: 900;
    margin-right: 10px;
    font-family: 'Convergence', sans-serif;
    
}