@import "theme.css";
.Dashboard-include-content{
    display: flex;
}
.popularpage-content{
    width: 35%;
    background-color: var(--chart-background);
    border-radius: var( --card-border-size);
    box-shadow: var(--card-shadow);
    border: none;
}

.popular-page-title h3{
    font-size: var(--card-title);
    color: var(--card-title-color);
    font-weight: 300;
    font-family: var(--card-title-font);
    margin-left: 10px;
}
.popularpage-content:hover {
    border-bottom: 3px solid var(--card-border-bottom);
    cursor: pointer;
}
.popular-page-table{
    width: 100%;
}
.popular-page-table thead th{
    background-color: var( --table-head-bg);
    text-align: left;
    font-size: 18px;
    color: var(--table-head-color);
    font-family: var(--table-head-font);
}
.popular-page-table tbody td{
    font-size: 16px;
    font-weight: 'Convergence', sans-serif;
    padding: 2px 3px;
}


.Totla-visits{
    width: 23%;
    height: 100px;
    background-color: var(--chart-background);
    margin-left: 10px;
}
.Number{
    margin-top: 10px;
}
.Number h3{
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    color: var(--background-color);
}
.title h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}