*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.Dashboard-include-content{
   display: flex;
}
.Dashboard-all-contents{
    width: 80%;
    position: relative;
    left: 15px;
    top: 5px;
    background-color: var(--main-color);
}
.Dashboard-box-contents{
    display: flex;
}
.Dashboard-first-box-contents{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 10px;
    position: absolute;
}
.Dashboard-first-box-contents .Box{
    background-color: var(--background-color);
}
.Dashboard-first-box-contents .one ,
.Dashboard-first-box-contents .two, 
.Dashboard-first-box-contents .three{
    width: 260px;
    height: 200px;
}
.Dashboard-first-box-contents .four{
    width: 250px;
    height: 630px;
}
.Dashboard-second-box-contents {
   position: absolute;
   top: 220px;
   display: grid;
   grid-template-columns: repeat(2, minmax(auto, 300px));
   gap: 10px;
}
.Dashboard-second-box-contents .Box{
    width: 250px;
    height: 300px;
    background-color: var(--text-color);
}
.Dashboard-second-box-contents .five{
    width: 460px;
    height: 200px;
}
.Dashboard-second-box-contents .six{
    width: 300px;
    height: 410px;
}
.Dashboard-thired-box-contents {
    position: relative;
    top: 430px;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 200px));
    gap: 10px;
 }
 .Dashboard-thired-box-contents .Box{
    width: 225px;
    height: 200px;
    background-color: var(--nav-text);
}
.Dashboard-thired-box-contents .five{
    width: 460px;
    height: 200px;
}
.Dashboard-thired-box-contents .six{
    width: 300px;
    height: 400px;
}
.sidebar{
    position: relative;
    top: 5px;
    left: 5px;
    width: 18%;
    height: 645px;
    background: var(--background-color);
    border-radius: 20px;
}
.side-top-logo-container{
    background: var(--main-color);
    height: 120px;
    width: 95%;
    border-radius: 20px 20px 50px 0;
}
.side-bar-content{
    display:flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.side-bar-top-content-nav ul a{
    text-decoration: none;
}
.side-bar-top-content-nav ul a li{
    color: var(--main-color);
    list-style: none;
    text-transform: uppercase;
    padding: 6px 50px;
    float: left;
}
.side-bar-top-content-nav ul a li:hover{
    background-color: var(--main-color);
    padding: 6px 50px;
    border-radius: 0 5px 5px 0;
    color: var(--background-color);
}
.side-bar-center-content-nav{
    position: relative;
    top: 15px;
}
.side-bar-center-content-nav ul a li{
    color: var(--main-color);
    list-style: none;
    text-transform: uppercase;
    padding: 6px 50px;
    float: left;
}
.side-bar-center-content-nav ul a li:hover{
    background-color: var(--main-color);
    padding: 6px 50px;
    border-radius: 0 5px 5px 0;
    color: var(--background-color);
}
