*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
    --cards-text:#ffff;
}
.Cards{
   display: flex;
}
.cards-contents{
    width: 100%;
    position: relative;
    left: 0%;
    top: 5px;
    background-color: var(--main-color);
}
.device-cards{
    left: 15px;
    top: 2px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 10px;
    position: absolute;
}
.device-cards .device{
    background-color: var(--background-color);
}
.device-cards .type ,
.device-cards .brand, 
.device-cards .model,
.device-cards .screenResolution{
    width: 260px;
    height: 630px;
    border-radius: 15px;
}
.device-cards h1{
    color:var(--cards-text) ;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}
