*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.test{
    position: fixed;
    display: flex;
    
}
.Every-page-header{
    position: relative; /* it must be  fixed*/
    background: var(--background-color);
    border-radius: 10px;
    width: 98%;
    height: 50px;
    top: 5px;
    z-index: 1;

}
.Every-page-header-content{

    
}