@import "./theme.css";

.header{
    position: fixed;
    width: 95%;
    height: 55px;
    background-color: var(--background-color);
    border-radius: 10px;
    z-index: 1;
}
.children{
    padding: 70px 30px 0 30px;
}