*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.continent{
    margin-top: 30px;
    margin-left: 5px;
}
.continent :hover{
transform: scale(1.05);
}

.continent a{
    display: inline-block;
    width: 150px;
    height: 150px;
    padding-top: 120px;
    text-align: center;
    margin-right: 5px;
    color: #1b1a18;
    
    
}
.continent a#af{
    background: url(../../images/map/2148748.jpg);
    background-size: cover;
}
.continent a#as{
    background: url(../../images/map/28182713.jpg);
    background-size: cover;
}.continent a#au{
    background: url(../../images/map/19468956.jpg);
    background-size: cover;
}.continent a#eu{
    background: url(../../images/map/2148753.jpg);
    background-size: cover;
}.continent a#na{
    background: url(../../images/map/2148759.jpg);
    background-size: cover;
}
.continent a#sa{
    background: url(../../images/map/2148749.jpg);
    background-size: cover;
}

