:root{
    --main-color:   #8db9fa;
    --chart-background:  #e3e3fc;
    --table-title: rgb(97, 93, 93);
    --thead-background:  #d6d6da;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.pageview-include-content{
    position: relative;
}
.individual-pageview{
    width: 60%;
    background-color: var(--chart-background);
    border-radius: 10px;
    margin-right: 20px; /* other div tag will be changed*/
}
.pageview-table{
    width: 95%;
    border-collapse: collapse;
    margin: 15px;
}
.individual-pageview h3{
    font-size: 20px;
    color: var(--table-title);
    float: right;
    padding-bottom: 20px;
}
.table-header{
    background-color: var(--thead-background);
}
.table-header th{
    color: var(--table-title);
    background-color: var(--thead-background);
    padding: 5px 20px;
}
.table-body tr:hover
{
    background-color: var(--thead-background);
}
.other-contents{
    display: flex;
}
.other{
    width: 40%;
}
.otherone{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: var(--thead-background);
    border-radius: 15px;
}