
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.page-view-page{
    display: grid;
    grid-template-columns: repeat(4 , minmax(auto, 2fr));
    position: relative;
    top: 20px;
    
}
.page-view-page .one{
    width: 250px;
    height: 100px;
    background-color: var(--background-color);
    margin-left: 10px;
}
.one:last-child{
    height: 600px;
}