
:root{
    --main-color:   #8db9fa;
    --chart-background:  #e3e3fc;
    --thead-background:  #d6d6da;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.pageview{
    margin: 20px 20px 20px 40px;
}
.pageview-overview{
    width: 95%;
    height: 160px;
    background-color: var(--chart-background);
    border-radius: 15px;
}
.pageview .text{
    padding-bottom: 30px;
}
.pageview-overview h3{
    font-size: 25px;
    color: var(--background-color);
    float: right;
    margin-right: 10px;
}
.individual-pageview{
    width: 60%;
    margin-left: 40px;
    background-color: var(--chart-background);
    border-radius: 10px;
}
.pageview-table{
    width: 95%;
    border-collapse: collapse;
    margin: 15px;
}
.individual-pageview h3{
    font-size: 20px;
    color: var(--background-color);
    float: right;
    margin-right: 10px;
    padding-bottom: 20px;
}
.table-header{
    background-color: var(--thead-background);
}
.table-header th{
    color: rgb(97, 93, 93);
    background-color: var(--thead-background);
    padding: 5px 20px;
}
.table-body tr:hover
{
    background-color: var(--thead-background);
}