@import "theme.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    display: flex;
}
main{
    /* padding: 2px 0 0 10px; */
    width: 100%;
}
.menu-con{
    position: relative;
    top: 40px;
    left: 5px;
    float: right;
}
.menu-back{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    border-radius: 50%;
    cursor: pointer;
}
.menu{
    float: right;
    color: var(--main-color);
    cursor: pointer;
    transform: rotate(180deg);
}
.side-bar-content{
    position: relative;
    /* top: 5px;
    left: 5px; */
    height: 655px;
    background: var(--background-color);
    /* border-radius: 15px; */
    z-index: 2;
}
.side-top-logo-container{
    background: var(--main-color);
    width: 95%;
    height: 120px;
    border-radius: 20px 20px 50px 0;
}
/* Drop down start */
.sub-menu-title{
    text-align: center;
    font-size: 18px;
}
.sub-menu-parent {
     position: relative; 
     z-index: 1;
    }
.sub-menu-parent:hover{
    background: var(--main-hover-color);
}

.sub-menu { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.8s ease-in-out 0.8s, visibility 0s linear 0.3s, z-index 10s linear 0.001s;
  border-radius: 20px 20px 50px 0;

}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; 
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
nav a { 
    color: var(--background-color); 
    display: block; 
    padding: 1.5em 1em; 
    text-decoration: none; 
    
}
nav a:hover { color: var(--background-color) }
nav ul,
nav ul li { 
    list-style-type: none; 
    padding: 0; margin: 0; }

nav > ul { 
    background:var(--main-color); 
    text-align: center; 
}

nav > ul > li:first-child { 
    border-left: none; }

.sub-menu {
  background: var(--main-color);
}
 .Drop1:hover {
           background:var(--main-hover-color);
          color: var(--background-color);         
        }
.Drop2:hover {
           background:var(--main-hover-color);
          color: var(--background-color);         
        }
 .Drop3:hover {
          background:var(--main-hover-color);
          color: var(--background-color);       
        }
.Drop4:hover {
           background:var(--main-hover-color);
          color: var(--background-color);
          border-radius:  0px 0px 50px 0;
         
        }
/* Drop down end */

.side-bar-center-content{
    position: relative;
    top: 30px;
}
.side-bar-top-content-nav{
    position: relative;
    display: flex;
    justify-content: center;
}
.side-bar-top-content-nav ul a{
    text-decoration: none;
}
.style{
    margin-right: 5px;
}
.side-bar-top-content-nav ul a li{
    display: flex;
    align-items: center;
    color: var(--main-color);
    list-style: none;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
    padding: 2px 20px;
}
.side-bar-top-content-nav ul a li:hover{
    background-color: var(--main-color);
    color: var(--background-color);
    opacity: 0.6;
}
