/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --text-color: black;
    --background-color: #00032c;
}
.sidebar{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 18%;
    height: 645px;
    background: var(--background-color);
    border-radius: 20px;
}
.side-top-logo-container{
    background: var(--main-color);
    height: 120px;
    width: 95%;
    border-radius: 20px 20px 50px 0;
}
.side-bar-content{
    display:flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.side-bar-top-content-nav ul a{
    text-decoration: none;
}
.side-bar-top-content-nav ul a li{
    color: var(--main-color);
    list-style: none;
    text-transform: uppercase;
    padding: 6px 50px;
    float: left;
}
.side-bar-top-content-nav ul a li:hover{
    background-color: var(--main-color);
    padding: 6px 50px;
    border-radius: 0 5px 5px 0;
    color: var(--background-color);
}
.side-bar-center-content-nav{
    position: relative;
    top: 15px;
}
.side-bar-center-content-nav ul a li{
    color: var(--main-color);
    list-style: none;
    text-transform: uppercase;
    padding: 6px 50px;
    float: left;
}
.side-bar-center-content-nav ul a li:hover{
    background-color: var(--main-color);
    padding: 6px 50px;
    border-radius: 0 5px 5px 0;
    color: var(--background-color);
} */