*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:   #8db9fa;
    --nav-text: #ffcb22;
    --chart-background:  #e3e3fc;
    --text-color: black;
    --background-color: #00032c;
    --service-color:rgb(235, 102, 41);
}
.Visitor-contaner{
    display: flex;
    width: 100%;
}
.Visitor-log{
    width: 80%;
    background-color: var(--chart-background);
}
.Real-Time{
    margin-left: 10px;
    width: 20%;
}
.Visitor-Channel-type{
    width: 100%;
    background-color: var(--chart-background);
    border-radius: 15px;
}
.channel-type-table{
    width: 100%;
    border-collapse: separate;
}