@import "../../style/theme.css";

.software-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: 400px auto;
    gap: 25px;
}
.one{
    width: 100%;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-size);
}
.table-title h3{
    font-size: var(--card-title);
    color: var(--card-title-color);
    font-family: var(--card-title-font);
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: 600;
}
.icons{
    width: 23px;
    height: 23px;
}
.table-data-table{
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
}
.table-data-table th{
    text-align: left;
    color: var(--table-head-color);
    background-color: var(--table-head-bg);
    font-family: var(--table-head-font);
    padding: 8px 25px;
}
.table-data-table th:last-child {
    text-align: right;
}
.table-data-table td{
    font-size: 15px;
    font-weight: var(--table-body-font);
    border-bottom: var(--table-body-border);
    padding: 6px 10px;
}
.table-data-table td:first-child {
    display: flex;
    align-items: center;
}
.table-data-table tbody tr:hover{
    background-color: var(--table-body-hover);
}
.table-data-table td:first-child img{
    margin-right: 10px;
}
.table-data-table td:last-child {
    text-align: right;
}
.log-Text{
    display: flex;
    align-items: center;
}
.log-Text img{
    width: 20px;
    height: 10px;
}
.piechart{
    width: 85%;
}