*{
    margin: 0px;
    padding: 0;
}
section{
    padding-top: 4rem;
    
}
.front{
    display: flex;
    height: 85vh;
    margin-left: 4vh;
}
.backimg{
    background: url("../images/backbody.png");
    width: 50%;
    background-size: cover;
    background-position: center;
    font-size: 50px;
}
.Enter-site{
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
    width: 50%;
}
.Enter-site h1{
    font-size: 5rem;
}
.Enter-site button{
    font-size: 2rem;
    padding: 10px;
    border: none;
    background: rgb(235, 102, 41);
    border-radius: 0.5rem;
    transition: 0.2s;
    color: white;
}
.Enter-site button:hover{
    background: none;
    border: 2px solid rgb(235, 102, 41);
    transition: 0.2s;
    color: rgb(235, 102, 41) ;
}
.Tracker-disc{
  display: flex;
  align-items: flex-end;
  
}
.why-tracker{
    font-size: 20px;
    column-count: 3;
    column-width: 50px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    
}
