:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
*{
    margin: 0px;
    padding: 0;
}
.Tracker-disc{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.why-tracker{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    gap: 30px;
}
.why-tracker .box{
    width: 300px;
}
.box p{
    text-align: justify;
}