:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
*{
    margin: 0;
    padding: 0;
}
.error-page{
    display: flex;
    justify-content: center;
}
.error{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
}
.error-image img{
    width: 350px;
    height: 350px;
}
.error-text h1{
    font-size: 130px;
    color: var(--service-color);
}