:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
.footer-cont{
    width: 100%;
    height: 600px;
    background: var(--main-color);
}