:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
#footer{
    background: red;
    height: 300px;
    display: flex;
    justify-content: center;
}
.footer-cont{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 100px;
    justify-content: center;


}
h3{
    color: red;
    background-color: black;
}