:root{
    --main-color: rgb(233, 234, 235);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
.footer{
    background: var(--service-color);
    height: 250px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 75px;
}
.footer .footer-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    gap: 80px;
}
ul a{
    text-decoration: none;
}
ul a li{
    font-size: 18px;
    list-style: none;
    color: var(--main-color);
}