:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    height: 30px;
    width: 100%;
    z-index: 1;
}
.Header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;      
}
.logo{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.logo img{
    width: 85px;
    height: 45px;
    padding-left: 40px;
}
.navbar-r{
    padding-right: 60px;
    transition: 0.5s;
    background: none;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.navigation ul a{
    text-decoration: none;
}
.navigation ul a:hover li{
    color: var(--service-color);
}
.navigation ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
}
.sticky{
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 70px;
}
.sticky .logo{
    margin-left: 10px;
    transition: 0.5s;
}
.sticky .navbar{
    margin-right: 10px;
    transition: 0.2s;
}
.login-btn{
    background: var(--service-color);
    padding: 4px 20px;
    border-radius: 6px;
    color: white !important;
}
.login-btn:hover{
    background: none;
    border: 2px solid var(--service-color);
    color: var(--service-color) !important;
    padding: 4px 20px;
    transition: 0.2s;
}