:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #f7efd6;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
*{
    margin: 0;
    padding: 0;
    
}
.login-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--main-color);
    height: 60px;
  
}
.login-cont a{
    text-decoration: none;
}
.form-cont{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 100px 10px;
    
    
}
form{
    border: 4px solid rgb(235, 102, 41);
    padding: 50px;
    border-radius: 30px;
    transition: 2s;
}
form:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 5px rgb(132, 109, 98);
}
input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(235, 102, 41);
    color: rgb(235, 102, 41);
    outline: none;
    background: transparent;
    font-size: 20px;
}
.loginbtn{
    width: 75%;
    padding: 8px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    background: var(--service-color);
    border: 0;
    outline: none;
    border-radius: 30px;
    text-align: center;
    color: var(--nav-text);
    font-family: Livvic;
    font-size: 20px;
}