:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #f7efd6;
    --text-color: black;
    --service-color:#1C0338;
}
*{
    margin: 0;
    padding: 0;
}
.Back{
    position: absolute;
    width: 40%;
    border-top: 600px solid var(--service-color);
    border-right: 650px solid transparent;
}
.login-cont{
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
}
.logo{
    width: 250px;
    height: 60px;
    background-color: white;
    padding: 4px 30px;
    border-radius: 5%;
    align-items: center;
    padding-left: 10px;
}
.logo a{
    display: flex;
    align-items: center;
}
.content{
    position: relative;
    display: flex;
    justify-content: right;
    top: 230px;
    right: 250px;
}
.login-cont a{
    text-decoration: none;
}