:root{
    /* --main-color: rgb(223, 227, 233);
    --nav-text: #f7efd6;
    --text-color: black;
    --service-color:#eb6629; */
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--service-color);
}
.Back{
    position: absolute;
    border-top: 600px solid var(--service-color);
    border-right: 600px solid transparent;
}
.register-contents{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    padding-top: 20px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    right: 100px;
    float: right;
}
.form-cont{
    /* border: 1px solid var(--text-color); */
    /* padding: 100px 250px; */
}
.usr{
    position: relative;
    padding-top: 30px;
}
.usr h1{
    font-size: 18px; 
}

input[type=text]{
    padding: 10px;
    width: 46%;
    height: 40px;
    margin-bottom: 6px;
    margin-right: 6px;
    border: 1px solid var(--service-color);
    border-radius: 5px;
    color: var(--service-color);
}
input[type=email],
input[type=password]{
    padding: 10px;
    width: 94%;
    height: 40px;
    margin-bottom: 6px;
    border: 1px solid var(--service-color);
    border-radius: 5px;
    color: var(--service-color);
}
.btn_register{
    margin: 10px 0 20px 0;
}
.btn_register a{
    background-color: var(--service-color);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--nav-text);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.btn_register a:hover{
    background: none;
    border: 2px solid var(--service-color);
    color: var(--service-color);
}
.forget{
    font-size: 14px;
}