:root{
    --main-color: rgb(223, 227, 233);
    --nav-text: #ffcb22;
    --text-color: black;
    --service-color:rgb(235, 102, 41);
}
*{
    margin: 0px;
    padding: 0;
}
.client-testimonial h1{
    font-size: 50px; 
    text-align: center;
}